<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-4">
      <div class="card text-black bg-cyan">
        <div class="card-body pb-0 mb-4 text-center">
          <img src="assets/img/dashboard/news_channel.png" title="News Channels" alt="assets/img/dashboard/news_channel.png" />
          <div class="text-value">New Channels</div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-4">
      <div class="card text-black bg-ocean">
        <div class="card-body pb-0 mb-4 text-center">
          <img src="assets/img/dashboard/programs.png" title="Programs" alt="assets/img/dashboard/programs.png" />
          <div class="text-value">Programs</div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-4">
      <div class="card text-black bg-orange">
        <div class="card-body pb-0 mb-4 text-center">
          <img src="assets/img/dashboard/location.png" title="Location" alt="assets/img/dashboard/location.png" />
          <div class="text-value">Location</div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-4">
      <div class="card text-black bg-pink">
        <div class="card-body pb-0 mb-4 text-center">
          <img src="assets/img/dashboard/realtime.png" title="Real Time" alt="assets/img/dashboard/realtime.png" />
          <div class="text-value">Real Time</div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-4">
      <div class="card text-black bg-skyblue">
        <div class="card-body pb-0 mb-4 text-center">
          <img src="assets/img/dashboard/language.png" title="Language" alt="assets/img/dashboard/language.png" />
          <div class="text-value">Language</div>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
