// Here you can add other styles
.badge-header {
    top: 100% !important;
    bottom: 0% !important;
    margin-top: -18px !important;
}

.bg-cyan{
    background: #69E4F2;
}

.bg-ocean{
    background: #B5D3FF;
}

.bg-orange{
    background: #FFD97E;
}

.bg-pink{
    background: #FFACAC;
}

.bg-skyblue{
    background: #ACACFF;
}